@{
    ViewBag.Title = "Welcome To Vidly";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-lumen.css">
</head>

<h1>@ViewBag.Title</h1>

<body>
   
    <br>
    <div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a Sample MVC Application</p>
        <hr class="my-4">
    
    </div>

</body>