

@{
    ViewBag.Title = "Movies By Vidly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-lumen.css">
</head>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Movies</th>
       <br>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Harry Potter - The Philospher's Stone</td>
        </tr>
        <tr>
            <td scope="row">Harry Potter - The Chamber Of Secrets</td>
        </tr>
        <tr>
            <td scope="row">Harry Potter - The Goblet Of Fire</td>
        </tr>
        <tr>
            <td scope="row">Harry Potter - The Prisoners Of Askaban</td>
        </tr>

    </tbody>
</table>

