@model Vidly.Models.Customer


@{
    ViewBag.Title = "Customers";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-lumen.css">
</head>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Customer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Sankalp Saxena</th>
        </tr>
        <tr>
            <th scope="row">Shashank Soni</th>
        </tr>
        <tr>
            <th scope="row">Selena Gomez</th>
        </tr>

    </tbody>
</table>